body {
    background-color: black;
}
table {
    width: 60%;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(164, 243, 232);
}
table, th, td {
    border: 1px solid;
    padding: 20px;
    font-size: 20px
}
th {
    background-color: rgb(72, 93, 112);
    color: aliceblue;
}
tr:nth-child(even) {
    background-color: rgb(128, 201, 32);
}
th, td {
    border-radius: 20px;
}
tr:nth-child(odd) {
    background-color: rgb(99, 189, 159);
}
td:hover {
    background-color: aquamarine;
}